fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.6.4
httpx
transformers==4.37.2
tokenizers==0.15.1

# CPU-only PyTorch
torch==2.1.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

scikit-learn==1.3.2
numpy==1.26.4
pandas==2.1.4
joblib==1.3.2

google-generativeai==0.8.5
python-dotenv==1.0.1
boto3==1.34.0

protobuf<=3.20.3


supervisor
streamlit
